@page
@model ZewailCiryScienceWeek.Pages.Visitor.userprofileModel
@{
}

<div class="page-content" style="background: #4D7577 ; padding-top: 60px">
    <div class="form-v10-content">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="~/images/R.png"> <span class="font-weight-bold"> <h2 style="font-size: 24px;">@Model.p1.fname</h2></span><span class="text-black-50"> <h2 style="font-size: 24px;">@Model.p1.email</h2></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right " style="height:80vh">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" style="font-size: 50px ; color:#4D7577">Profile Settings</h4>
                </div>
                <div class="col-md-6">
                    <label class="labels" style="font-size: 24px;color:#4D7577" >First Name</label>
                    <h2 style="font-size: 24px;">@Model.p1.fname</h2>
                </div>

                <div class="col-md-12">
                    <label class="labels" style="font-size: 24px; color:#4D7577">Mid Name</label>
                    <h2 style="font-size: 24px;">@Model.p1.midname</h2>
                </div>

                <div class="col-md-6">
                    <label class="labels" style="font-size: 24px;color:#4D7577">Last Name</label>
                    <h2 style="font-size: 24px;">@Model.p1.lname</h2>
                </div>

               @* <div class="col-md-12">
                    <label class="labels" style="font-size: 24px;color:#4D7577">Mobile Number</label>
                    <h2 style="font-size: 24px;">@Model.p1.phonenum</h2>
                </div>

                <div class="col-md-12">
                    <label class="labels" style="font-size: 24px; color:#4D7577">Email</label>
                    <h2 style="font-size: 24px;">@Model.p1.email</h2>
                </div>*@

                <div class="col-md-12">
                    <label class="labels" style="font-size: 24px; color:#4D7577">SSN</label>
                    <h6 style="font-size: 18px;">@Model.p1.ssn</h6>
                </div>

                <div class="col-md-3 border-center">
                    <div class="button-container" style=" width: 20vh">
                        <div class="mt-5 text-left">
                         @*   <button class="login100-form-btn" style="background: #4D7577" type="button"> Save Profile</button>*@
                            <div class="mt-5 text-center">
                                <a href="/Visitor/ticketdesign">
                                    <button class="login100-form-btn" style="background: #4D7577" type="button">View Ticket</button>
                                </a>

                                @*<div class="mt-5 text-right">
                                    <a href="/Visitor/editticket">
                                        <button class="login100-form-btn" style="background: #4D7577" type="button">Edit Ticket</button>
                                    </a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                
                


            </div>


        </div>
       

    </div>
</div>
</div>
    </div>
    </div>




 