@page
@model ZewailCiryScienceWeek.Pages.Researcher.researcherProfileModel
@{
}
@{
    Layout = "_LayoutResearcher";

}



<header id="header" class="d-flex align-items-center p-4 ">
    <div class="container-fluid container-xxl d-flex align-items-center justify-content-between navbar order-last order-lg-0" id="navbar">

        <div id="logo">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="index.html" class="scrollto"><img src="~/img/MainPagePic/Artboard 3 (1).png" alt="" title=""></a>
        </div>
        <ul>
            <li><a class="nav-link scrollto" href="/Index">Home</a></li>
            <li><a class="nav-link scrollto" href="/Mainpages/AboutUs">About ZCSF</a></li>
            <li><a class="nav-link scrollto" href="/MainPages/Conference">Conference</a></li>
            <li><a class="nav-link scrollto" href="/Researcher/applyfor">Apply for a paper</a></li>
            <li><a class="nav-link scrollto" href="/MainPages/ContactUs">Contact</a></li>
            <li><a class="select-control buy-tickets scrollto nav-link" href="/Researcher/researcherMain">Researcher</a></li>
        </ul>
        <!--=====================================================-->


        <i class="bi bi-list mobile-nav-toggle"></i>

    </div>


</header>
<section class="h-100 gradient-custom-2" style=" background-color:#E5EBEB">
    <div class="container py-5 h-100 " >
        <div class="row d-flex justify-content-center align-items-center h-100 " >
            <div class="col col-lg-9 col-xl-7">
                <div class="card" style="padding-top:50px; background-color:#E5EBEB;border:none">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #023b3d; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

                            <img src="https://spng.pngfind.com/pngs/s/93-938050_png-file-transparent-white-user-icon-png-download.png"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 200px; z-index: 1">
                            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                    style="z-index: 1;">
                                Edit profile
                            </button>
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5 style=" color:white">Andy Horwitz</h5>
                            <p>andy@gmail.com</p>
                        </div>
                    </div>

                    <div class="p-4 text-black" style="background-color: #C9D5D6;">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div style="margin-right: 10px;">
                                <a href="https://github.com"><i class="fa fa-github" style="color: #333333;"></i></a>
                            </div>
                            <div style="margin-right: 10px;">
                                <a href="https://twitter.com"><i class="fa fa-twitter" style="color: #55acee;"></i></a>
                            </div>
                            <div style="margin-right: 10px;">
                                <a href="https://www.instagram.com"><i class="fa fa-instagram" style="color: #ac2bac;"></i></a>
                            </div>
                            <div style="margin-right: 10px;">
                                <a href="https://www.facebook.com"><i class="fa fa-facebook" style="color: #3b5998;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card mb">
                            <div class="card-body p-0 text-black">
                                <div class="card-body">

                                    <div class="mb-5" style="margin-top: 15px;">
                                        <p class="mt-4" style="display: inline; padding: 5px;text-left; margin-bottom:10px">ABOUT</p>

                                        <div class="p-2" style="background-color: #C9D5D6; ">
                                            <div class="row" >
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Full Name</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">Noah</p>
                                                </div>
                                            </div>
                                            <hr style ="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Email</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">liam.wilson@example.com</p>
                                                </div>
                                            </div>
                                                <hr style ="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Phone</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">+9876543219</p>
                                                </div>
                                            </div>
                                            <hr style="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Tob title</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">Data Scientist</p>
                                                </div>
                                            </div>
                                            <hr style="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Age</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">32</p>
                                                </div>
                                            </div>
                                            <hr style="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Address</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">987 Pine Street, City</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg">
                        <div class="card mb">
                            <div class="card-body p-0 text-black">
                                <div class="card-body">
                                    <div class="mb-5" style="margin-top: 15px;">
                                        <p class="mt-4" style="display: inline; padding: 5px;text-left; margin-bottom:10px">PAPER</p>
                                        <div class="p-4" style="background-color: #C9D5D6;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Paper title</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.p.paper_name</p>
                                                </div>
                                            </div>
                                            <hr style="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Field</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.p.field</p>
                                                </div>
                                            </div>
                                            <hr style="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Number Of Pages</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.p.numberOfPages</p>
                                                </div>
                                            </div>
                                            <hr style="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3" s>
                                                    <p class="mb-0">Conference day</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.p.conferenceDay</p>
                                                </div>
                                            </div>
                                            <hr style="margin: 5px 0;">
                                            <div class="row">
                                                <div class="col-sm-3" s>
                                                    <p class="mb-0">Paper Attachment</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class=" text-muted mb-0"><a href="#" style="text-decoration: underline;">@Model.p.paper_name</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>

