@page
@model ZewailCiryScienceWeek.Pages.Anaylitic.AnalysisModel
@{
    Layout = "_LayoutOFMainPageForDifferetUser";
}
<!--======================Header MAin Page=================================-->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">The Analysis<br><span> for Zewail City</span> Science Week</h1>
        <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
    </div>
</section><!-- End Hero Section -->
<!--======================Header MAin Page=================================-->
<section class="Payment m-4 p-5 section-title ">
    <h2 > Payment analysis</h2>
    <section class="PaymentCalc">
<!--==========The start of the first chart1============================-->
<!--===================================================================-->

        <section class="card mb-5 border">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <canvas id="chart1" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Payment Method</h3>
                        <p class="card-text">
                            The pie chart can show payment method distribution for the entire science
                            festival or a specific room on a given day. Each section represents the
                            proportion of attendees who used a particular payment method.
                        </p>
                        <form class="card-body form-control" method="post">
                            <div class="mb-3">
                                <label class="form-label">Enter The Day Number</label>
                                <input type="text" class="form-control" name="day">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Enter The Room Number</label>
                                <input type="text" class="form-control" name="room">
                            </div>
                            <button  asp-page-handler="CHART1" type="submit" class="btn btn-success">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
     </section>
<!--==========The End of the first chart1============================-->
<!--===================================================================-->
<!--==========The start of the first chart2============================-->
<!--===================================================================-->

        <section class="card mb-5 border">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center ">
                    <canvas id="chart2" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Payment Money Per Method</h3>
                        <p class="card-text">
                            This bar chart can show the total amount of money spent for each payment 
                            method, with each bar representing a specific payment method and its height
                            indicating the total amount spent. This chart can be used to analyze
                            spending patterns for the entire science festival or for a specific 
                            room on a given day, providing insights into the most popular payment
                            methods used by attendees.
                        </p>
                        <form class="card-body form-control" method="post">
                            <div class="mb-3">
                                <label class="form-label">Enter The Day Number</label>
                                <input type="text" class="form-control" name="day">
                            </div>
                            <div class="mb-3"> 
                                <label class="form-label">Enter The Room Number</label>
                                <input type="text" class="form-control" name="room">
                            </div>
                            <button type="submit" class="btn btn-success" asp-page-handler="CHART2">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
<!--==========The End of the first chart2============================-->
<!--===================================================================-->
<!--==========The start of the first chart3============================-->
<!--===================================================================-->

        <section class="card mb-5 border">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center ">
                    <canvas id="chart3" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Festival Payment For Each Day Of The Week</h3>
                        <p class="card-text">
                            This horizontal bar chart represents the amount of money gathered for 
                            each day of the science festival or for a specific room, with each section
                            indicating the total amount of money collected and the bars arranged in 
                            descending order. This chart can help identify the most profitable days 
                            or rooms of the festival and guide resource allocation accordingly.


                        </p>
                        <form class="card-body form-control" method="post">
                            <div class="mb-3">
                                <label class="form-label">Enter The Room Number</label>
                                <input type="text" class="form-control" name="room">
                            </div>
                            <button asp-page-handler="CHART3" type="submit" class="btn btn-success">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
<!--==========The End of the first chart3============================-->
<!--===================================================================-->


        </section>
    </section>


<section class="visitors m-4 p-5 section-title ">
    <h2> Visitors analysis</h2>
    <section class="PaymentCalc">
<!--==========The start of the first chart4============================-->
<!--===================================================================-->

        <section class="card mb-5 border">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <canvas id="chart4" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Festival Attendence</h3>
                        <p class="card-text">
                            The pie chart displays the proportion of female and male visitors
                            during the science festival, with each section representing the number of
                            visitors of a specific sex. This chart can be used to analyze attendance
                            patterns for 
                            the entire science festival or for a specific day or room
                        </p>
                        <form class="card-body form-control" method="post">
                            <div class="mb-3">
                                <label class="form-label">Enter The Day Number</label>
                                <input type="text" class="form-control" name="day">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Enter The Room Number</label>
                                <input type="text" class="form-control" name="room">
                            </div>
                            <button asp-page-handler="CHART4" type="submit" class="btn btn-success">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
<!--==========The End of the first chart4============================-->
<!--===================================================================-->
<!--==========The start of the first chart5============================-->
<!--===================================================================-->

        <section class="card mb-5 border">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center ">
                    <canvas id="chart5" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">How Did You Know About Our Festival</h3>
                        <p class="card-text">
                            The pie chart displays the various sources through which attendees 
                            learned about the science festival, with each section representing a 
                            specific source and its corresponding proportion of visitors. This chart 
                            can help event organizers evaluate the effectiveness of their marketing 
                            and outreach strategies and make informed decisions for future events.
                        </p>
                        
                    </div>
                </div>
            </div>
        </section>
<!--==========The End of the first chart5============================-->
<!--===================================================================-->
<!--==========The start of the first chart6============================-->
<!--===================================================================-->

        <section class="card mb-5 border">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center ">
                    <canvas id="chart6" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Festival Attendance For Each Day Of The Week</h3>
                        <p class="card-text">
                            The horizontal bar chart represents the number of visitors 
                            for each room during the science festival, with each section indicating 
                            the total number of attendees and the bars arranged in descending order.
                            This chart can be used to analyze attendance patterns for the entire 
                            festival or for a specific day, providing insights into the popularity 
                            of each room and informing resource allocation decisions.
                        </p>
                        <form class="card-body form-control" method="post">
                            <div class="mb-3">
                                <label class="form-label">Enter The room Number</label>
                                <input type="text" class="form-control" name="room">
                            </div>
                            <button asp-page-handler="CHART6" type="submit" class="btn btn-success">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
<!--==========The End of the first chart6============================-->
<!--===================================================================-->
<!--==========The start of the first chart7============================-->
<!--===================================================================-->

   <!--    <section class="card mb-5 border">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center ">
                    <canvas id="chart7" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Festival Visitors Ages</h3>
                        <p class="card-text">
                            The scatter chart displays the distribution
                            of visitor ages for each room during the science festival, 
                            with each point representing an attendee's age and its position
                            indicating the number of visitors with that age. This chart can be
                            used to analyze age demographics and patterns of attendance for the
                            entire festival or for a specific day or room.
                        </p>
                        <form class="card-body form-control" method="">
                            <div class="mb-3">
                                <label class="form-label">Enter The Day Number</label>
                                <input type="text" class="form-control" name="day">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Enter The Room Number</label>
                                <input type="text" class="form-control" name="room">
                            </div>
                            <button type="submit" class="btn btn-success">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
             </section>-->
        <!--==========The End of the first chart7============================-->
<!--===================================================================-->

</section>
 </section>
<script>
    var Chart1Valuesx = @Html.Raw(Json.Serialize(Model.Chart1Valuesx));
    var Chart1Valuesy = @Html.Raw(Json.Serialize(Model.Chart1Valuesy));
    var Chart2Valuesx = @Html.Raw(Json.Serialize(Model.Chart2Valuesx));
    var Chart2Valuesy = @Html.Raw(Json.Serialize(Model.Chart2Valuesy));
    var Chart3Valuesx = @Html.Raw(Json.Serialize(Model.Chart3Valuesx));
    var Chart3Valuesy = @Html.Raw(Json.Serialize(Model.Chart3Valuesy));
    var Chart4Valuesx = @Html.Raw(Json.Serialize(Model.Chart4Valuesx));
    var Chart4Valuesy = @Html.Raw(Json.Serialize(Model.Chart4Valuesy));
    var Chart5Valuesx = @Html.Raw(Json.Serialize(Model.Chart5Valuesx));
    var Chart5Valuesy = @Html.Raw(Json.Serialize(Model.Chart5Valuesy));
    var Chart6Valuesx = @Html.Raw(Json.Serialize(Model.Chart6Valuesx));
    var Chart6Valuesy = @Html.Raw(Json.Serialize(Model.Chart6Valuesy));
    var Chart7Valuesx = @Html.Raw(Json.Serialize(Model.Chart7Valuesx));
    var Chart7Valuesy = @Html.Raw(Json.Serialize(Model.Chart7Valuesy));
</script>
<script src="~/js/charts/Chart.js"></script>
<script src="~/js/charts/Chart.min.js"></script>

